/* HEADER */

.header-head {
	display: flex;
	align-items: baseline;
	min-height: 80px;
	color: aliceblue;
	background-color: #3161E0;
}

.header-nav {
	
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	
	flex-basis: 20%;
	padding: 5px 10px;

	/* debug
	background-color: goldenrod;
	border: 2px dashed black; */
}

.header-links {
	flex-grow: 1;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.header-links>* {
	color: aliceblue;
	text-decoration: none;
}

.header-login {
	text-align: right;
	color: #23272a;
}

.btn-white{
	border: 0;
	border-radius: 40px;
	background-color: aliceblue;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;

	background-image: url("../img/jumbo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* debug
	background-color: darkblue; */
}

.jumbotron .content {
	text-align: center;
	min-height: 400px;
	width: 50%;

	/* debug
	background-color: #ee82ee;
	border: 2px dashed black; */
}

.title{
	font-size: 50px;
	color: aliceblue;
}

.subtitle{
	font-size: 20px;
	color: aliceblue;
}

.btn-dark {
	color: aliceblue;
	border: 0;
	border-radius: 40px;
	background-color: #23272A;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;

	/* debug
	min-height: 500px; */
}

.section-title{
	color: #23272A;
	font-size: 50px;
}

.section-text{
	font-size: 25px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
	text-align: center;
}

.main-col {
	flex-grow: 2;
}

.side-col {
	flex-grow: 1;
}

.hilighted-content {
	flex-grow: 1;
}

.invito{
	background-image: url(../img/stars.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

.invito>p{
	font-size: 30px;
}

.btn-download{
	font-size: 20px;
	color: aliceblue;
	border: 0;
	border-radius: 40px;
	background-color: #8EA1E1;
}
/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
	color: aliceblue;

}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid #8EA1E1;

	/* debug
	min-height: 500px; */
}

.footer-title{
	color: #8EA1E1;
	font-size: 25px;
}

.li-title{
	color: #8EA1E1;
}

.footer-ul{
	list-style-type: none;
	line-height: 30px;
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug
	background-color: #f08080;
	border: 2px dashed black; */
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug
	background-color: #20b2aa;
	border: 2px dashed black; */
}

.footer-col {
	width: 25%;

	/* debug
	background-color: #20b2aa;
	border: 2px dashed white; */
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}